.login {
    margin-top: 50%;
}

.login-text {
    margin-left: 2.5%;
}

.mt-10 {
    margin-top: 10%;
}

.login-input {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.login-btn {
    margin-top: 15%;
    margin-right: auto;
    margin-left: 2.5%;
}