.card-answer {
    height: 100%;
    margin-right: 15%;
    margin-left: -5%;
}

.click-disabled {
    cursor: not-allowed;
}

.mt-50 {
    margin-top: 50%;
}

.mt-40 {
    margin-top: 40%;
}

.mt-30 {
    margin-top: 30%;
}

.mt-20 {
    margin-top: 20%;
}

.mt-10 {
    margin-top: 10%;
}

.mb-20 {
    margin-bottom: 20%;
}

.ml-10 {
    margin-left: 10%;
}

.mr-10 {
    margin-right: 10%;
}

.w-95 {
    width: 95%;
}